@import '~antd/dist/antd.css';

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    margin: 16px;
    padding-left: 10px;
    height: 32px;
    background: rgba(255,255,255,.2);
    line-height: 32px;
    color: #f2f2f2;
}
