/*
 * @Author: SilvesterChiao
 * @Date: 2020-04-06 16:50:36
 * @LastEditors: SilvesterChiao
 * @LastEditTime: 2020-08-14 17:23:10
 */
.component-wrapper {
    margin-bottom: 16px;
    padding: 10px 16px;
    border: 1px solid darkolivegreen;
    border-radius: 4px;
}
